
:root{
    --backgroundBody: #fff8e7;
    --buttom: #4ca5af; 
}
.page-content {
    background-color: var(--backgroundBody);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.page-content h1 {
    margin-top: 10px;
}
.product-container {
    margin: 15px;
    padding: 4px 16px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;
}
.product-container:hover {
    box-shadow: 5px 10px 16px 5px rgba(0, 0, 0, 0.2);
}
.product-container img {
    border: 1px solid #000;
    height: 350px;
    width: 300px;
}
.product-container h2 {
    display: flex;
    justify-content: center;
}
.product-container h3 {
    margin-bottom: 10px;
    margin-left: 15px;
}
.button-add {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 4px solid var(--buttom);
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.button-add:hover {
    background-color: var(--buttom);
    color: white;
}