.carousel-size {
    height: 20rem;
    background-color: black;
}

.img-cover-carousel {
    background-size:contain ;
    position: relative;
}

.carousel-control-prev-icon {
    display: none;
}

.carousel-control-next-icon {
    display: none;
}