.carousel-size {
    height: 33rem;
    display:flex;
}

.img-cover-carousel {
    justify-content: center ;
}

.carousel-control-prev-icon {
    display: none;
}

.carousel-control-next-icon {
    display: none;
}

