
.Contenedor-Principal-Log-In-Form {
    background: white;
    width: 320px;
    padding: 30px;
    padding-bottom: 10px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 10px;
    border-radius: 7px ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:  4px 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.Contenedor-Principal-Log-Up-Form {
    width: 450px;
    padding: 30px;
    padding-bottom: 10px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 10px;
    border-radius: 7px ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.Title-form {
    font-size: 22px;
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(0, 0, 0, 0.9);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.Subtitle-form {
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}


.Label-form {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.Contenedor-input-form {
    width: 100%;
}

.Input-form {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #F4ECE0;
    border-bottom: 15px;
    border-radius: 4px;
    color:black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-form {
    background-color: #F4ECE0;
    padding: 2px;
    border-radius: 3px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(8, 8, 8);
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
    border: none;
}

.Contenedor-terminos {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 10px;

}

.P-form {
    font-size: 14px;
    font-weight: 500;
    margin-top: ;
    color: rgb(68, 68, 68) ;

}
